.sort_selected::after {
  content: '\f00c';
  font-family: FontAwesome, serif;
  font-weight: normal;
  font-style: normal;
  margin: 0 0 0 10px;
  display: inline-block;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-item {
  cursor: pointer;
}
